

<div class="container content-row">
{{#if userInSession}}
    <h2>Welcome to {{appTitle}} <b>{{capitalize userInSession.username}}</b> </h2>
{{else}}
    <h2>Welcome to {{appTitle}} </h2>
{{/if}}
<hr>
        <div class="row">

    {{#each randomLifehacksArray}}
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                
                    <img src="{{this.embedMultimedia}}" alt="{{this.name}}" class="card-img-top ratio ratio-1x1">

                <div class="card-body d-flex flex-column">
                    <h4 class="grey text-truncate">{{this.title}}</h3>
                </div>
                <div class="card-tag">
                {{#each tags}}
                    <span><a href="/tags/{{this._id}}" class="tags"> #{{this.name}} </a></span>
                {{/each}}
                </div>
                <div class="card-body">
                    <a href="/lifehacks/{{this._id}}" class="btn">More</a>
                {{#equalOrTrue ../userDetails._id this.author ../userDetails.isAdmin}}
                    <a href="/lifehacks/{{this._id}}/edit" class="btn edit">Edit</a>
                {{/equalOrTrue}}
                </div>
            </div>
        </div>
    {{/each}}
        
        </div>
    </div>

