<div class="container">
{{!--#if userInSession}}
    <h2>Welcome to {{appTitle}} <b>{{capitalize userInSession.username}}</b> </h2>
{{else}}
    <h2>Welcome to {{appTitle}} </h2>
{{/if--}}

    {{!-- Start of 3 random LH's Carousel --}}
    <div id="lhCarousel" class="carousel slide carousel-bdr mt-5" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li type="button" data-bs-target="#lhCarousel" data-bs-slide-to="0" class="active" 
                aria-current="true" aria-label="Slide 1"></li>
            <li type="button" data-bs-target="#lhCarousel" data-bs-slide-to="1"
                aria-label="Slide 2"></li>
            <li type="button" data-bs-target="#lhCarousel" data-bs-slide-to="2"
                aria-label="Slide 3"></li>
        </ol>
        <div class="carousel-inner">
            {{#each randomLifehacksArray}}
            <div class="carousel-item{{#if @first }} active{{/if}}">
                <a href="/lifehacks/{{this._id}}">
                    <img src="{{this.embedMultimedia}}" alt="{{this.title}}" class="w-100 ratio">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>{{this.title}}</h3>
                        <p class="text-truncate">{{this.description}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        <button class="carousel-control-prev carousel-ctrl-bg" type="button" data-bs-target="#lhCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon carousel-control-bg" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next carousel-ctrl-bg" type="button" data-bs-target="#lhCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
    </div>

</div>