<div class="container">
{{!--#if userInSession}}
    <h2>Welcome to {{appTitle}} <b>{{capitalize userInSession.username}}</b> </h2>
{{else}}
    <h2>Welcome to {{appTitle}} </h2>
{{/if--}}

    {{!-- Start of 3 random LH's Carousel --}}
    <div id="lhCarousel" class="carousel slide carousel-bdr mt-5" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li type="button" data-bs-target="#lhCarousel" data-bs-slide-to="0" class="active" 
                aria-current="true" aria-label="Slide 1"></li>
            <li type="button" data-bs-target="#lhCarousel" data-bs-slide-to="1"
                aria-label="Slide 2"></li>
            <li type="button" data-bs-target="#lhCarousel" data-bs-slide-to="2"
                aria-label="Slide 3"></li>
        </ol>
        <div class="carousel-inner">
            {{#each randomLifehacksArray}}
            <div class="carousel-item{{#if @first }} active{{/if}}">
                <a href="/lifehacks/{{this._id}}">
                    <img src="{{this.embedMultimedia}}" alt="{{this.title}}" class="w-100 ratio">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>{{this.title}}</h3>
                        <p class="text-truncate">{{this.description}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        <button class="carousel-control-prev carousel-ctrl-bg" type="button" data-bs-target="#lhCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon carousel-control-bg" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next carousel-ctrl-bg" type="button" data-bs-target="#lhCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
    </div>
</div>



{{!-- Meet the Lifehacks Team --}}

<div class="container p-5 mb-1 mt-3">
    
<h2>Meet the Lifehacks team</h2>
    {{!-- Kyle --}}
    <div class="row prof-lh-likes carousel-bdr">
        <div class="col-md-3 col-sm-4 col-xs-12 col-xl-2 m-3">
            <img src="https://res.cloudinary.com/dsw3axyzs/image/upload/v1673592296/raccoon_dab_qoi7pc.png" class="img-thumbnail kyle"/>
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 my-auto">
            <h4>Kyle</h4>
            <p><b>Designer / Content Engineer</b></p>
            <p>Kyle loves gaming - anything from Fortnite to Fortnite.</p>
            <p>In his spare time he loves driving his parents crazy by playing his drums.</p>
            <p>He claims to have invented 33 unique, different ways to dab</p>
        </div>
    </div>
    {{!-- Amber --}}
    <div class="row prof-lh-likes carousel-bdr">
        <div class="col-md-3 col-sm-4 col-xs-12 col-xl-2 m-3">
            <img src="https://res.cloudinary.com/dsw3axyzs/image/upload/v1673592297/raccoon_musician_kzmu6u.png" class="img-thumbnail amber"/>
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 my-auto">
            <h4 class="mt-2">Amber</h4>
            <p><b>Content Editor / Creator</b></p>
            <p>Amber likes the quiet things in life, unfortunately Kyle is her brother!</p>
            <p>In her spare time she likes skateboarding and drawing.</p>
            <p>She says Kyle only has one dab style!</p>
        </div>
    </div>
</div>