
<h2>Edit lifehack</h2>

<form action="/lifehacks/{{lifehack._id}}/edit" method="post" enctype="multipart/form-data">

    <label>Title:
        <input type="text" value="{{lifehack.title}}" name="title" required>
    </label>
    <label>Description:
        <textarea name="description" cols="30" rows="4" required>{{lifehack.description}}</textarea>
    </label>
    <hr>
    {{!-- bonus let the user put more than one url --}}
    <label>img url:
        <input type="url" value="{{lifehack.embedMultimedia}}"  name="embedMultimedia"> 
    </label>
     <label>Or upload an image:
        <input type="file" name="image01"> 
        "Accepted file extensions: JPG, PNG."
    </label>
    <hr>
    <label>Upload a video:
            <input type="file" name="video01">
            <input type="url" name="videoUrl" hidden value="{{lifehack.videoUrl}}">
        "Accepted video file extensions: MP4, WEBM."
            
            
    </label>
    <hr>
    <aside>"Warning!! Sending the form with a new image or video will automatically delete the old file."</aside>
    <br>

    <select name="tags"  multiple>
        {{#each lifehack.tags }}
            <option selected value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        {{#each tagsNotSelected}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>

   <button type="submit">Update</button>
</form>
<form action="/lifehacks/{{lifehack._id}}/delete" method="post">
        <button>Delete</button>
</form>