<div class="container content-row">
    <div class="row">
        <div class="col">
            <div class="card h-100">
                <h2 class="card-header">{{lifehack.title}}</h2>
                <div class="card-body">
                    {{lifehack.description}}
                </div>
                {{#if hasVideoAndDefaultImage}}
                    <div class="card-body">
                        <iframe width="436" height="245" src="{{lifehack.videoUrl}}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                {{else}}
                    <div class="card-body">
                        <img src="{{lifehack.embedMultimedia}}" alt="{{lifehack.title}}" class="w-100">
                    </div>
                {{/if}}
                {{!-- video display --}}
                {{#if hasVideoAndDefaultImage}} 

                {{else}}          
                    {{#if lifehack.videoUrl}}
                        <iframe width="436" height="245" src="{{lifehack.videoUrl}}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    {{/if}}
                {{/if}}    
                {{!-- video display --}}

            

                <div class="card-body btm-lh-display w-100">
                    <div class="btm-item">
                        <form action="/lifehacks/{{lifehack._id}}" method="POST">
                            <button class="likes"><span class="badge">{{lifehack.likes}}</span></button>
                        </form>
                    </div>
                    <div class="btm-item">
                        {{#each lifehack.tags}}
                            <span><a href="/tags/{{this._id}}" class="tags"># {{this.name}}</a></span>
                        {{/each}}
                    </div>
                    <div class="btm-item align-r">
                        <h6 class="grey">Submitted by: {{lifehack.author.username}}</h6>
                        {{#equalOrTrue userDetails._id author._id userDetails.isAdmin}}
                            <a href="/lifehacks/{{this._id}}/edit" class="btn edit">Edit</a>
                            <form action="/lifehacks/{{this._id}}/delete" method="POST">
                                <button class="btn delete">Delete</button>
                            </form>
                        {{/equalOrTrue}}
                    </div>
                    <div class="btm-item align-r">
                        {{#if showRandomBtn}}
                        <a href="/lifehacks/random-lifehack" class="btn">Randomize!</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#equalOrTrue userDetails._id userDetails._id userDetails.isAdmin}}
    
    <div>
        <form action="/lifehacks/{{lifehack._id}}/addcomment" method="POST">
            <label>add a comment...
                <textarea name="comment"  cols="40" rows="3" required></textarea>
                <input type="text" name="lifehackId" value="{{lifehack._id}}" hidden>
            </label>
        <button>Comment</button>
        </form>

    </div>
{{/equalOrTrue}}
{{#if commentsArray}}
<div>
    {{#each commentsArray}}
    <div>
        <p>{{this.commentAuthor.username}}</p>
        <p>{{this.commentText}}</p>
        
        {{#equalOrTrue ../userDetails._id this.commentAuthor._id ../userDetails.isAdmin}}
            {{!-- <a href="/comments/{{this._id}}/edit">Edit</a> --}}
            <form action="/comments/{{this._id}}/delete" method="POST">
            <button>Delete</button>
            </form>
        {{/equalOrTrue}}
        
    </div>
    {{/each}}
</div>
{{/if}}

