

<section>
    <h2>{{title}}</h2>
    <h4>{{author.name}}</h4>
    {{#each tags}}
        <span><a href="/tags/{{this._id}}">{{this.name}}</a></span>
    {{/each}}
    <hr>
    <p>{{description}}</p>
    <img src="{{embedMultimedia}}" alt="{{name}}" style="width: 300px"><br />
    <h4>likes: {{likes}}</h4>
    <a href="/lifehacks/{{this._id}}/edit">edit</a>
    <form action="/lifehacks/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>

</section>