

<section>
    <h2>{{title}}</h2>
    <h6>Author: {{author.username}}</h6>
    {{#each tags}}
        <span><a href="/tags/{{this._id}}">{{this.name}}</a></span>
    {{/each}}
    <hr>
    <p>{{description}}</p>
    <img src="{{embedMultimedia}}" alt="{{name}}" style="width: 300px"><br />
    <h4>likes: {{likes}}</h4>
    
    {{#equal userDetails._id author._id}}
        <a href="/lifehacks/{{this._id}}/edit">edit</a>
        <form action="/lifehacks/{{this._id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    {{/equal}}


</section>