<div class="container">

    <h1>All Tags</h1>

    <a href="/tags/create" class="btn edit">Add a new Tag</a>
    <br />
    <br />
    {{#if tags}}
        {{#each tags}}
            <div class="row prof-lh-likes p-1 mb-1">
                <div class="col-2 my-auto">
                    <img class="thumb-img img-fluid" src="{{this.img}}" alt="{{this.name}}">
                </div>
                <div class="col my-auto text-truncate">
                    <h3>{{this.name}}</h3>
                </div>
                <div class="col-4 my-auto align-r">
                    <a href="/tags/{{this._id}}" class="btn">Assoc. Lifehacks</a> 
                    <a href="/tags/{{this._id}}/edit" class="btn edit">Edit</a>
                    {{!-- add the form to handle the POST request to remove a specific tag  --}}
                    <form action="/tags/{{this._id}}/delete" method="POST">
                        <button class="btn delete">Delete</button>
                    </form>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h3>Sorry, no TAGS in the DB</h3>
    {{/if}}

</div>