<h2 class="mt-3">Welcome to your profile <b>{{capitalize userDetails.username}}</b></h2>

{{!-- Lifehacks the user posted --}}
<div class="container">
    <h5>Lifehacks you posted</h5>

    {{#each lifehacksPosted }}
    <div class="row prof-lh-likes p-1 mb-1 carousel-bdr">
        <div class="col-2 my-auto">
            <a href="/lifehacks/{{this._id}}">
                <img class="thumb-img img-responsive" src="{{this.embedMultimedia}}" alt="{{this.title}}">
            </a>
        </div>
        <div class="col my-auto text-truncate">
            <a href="/lifehacks/{{this._id}}">
                {{this.title}}
            </a>
        </div>
        <div class="col-1 align-r mt-3">
            <form action="/lifehacks/{{this._id}}/edit" method="get">
                <button type="submit" class="btn edit2">Edit</button>
            </form>
        </div>
        <div class="col-1 align-l mt-3 mr-3">
            <form action="/lifehacks/{{this._id}}/delete" method="post">
                <button type="submit" class="btn delete">Delete</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>

{{!-- Lifehacks the user LIKED --}}
<div class="container mt-5">
    <h5>Your Favourite Lifehacks</h5>

    {{#each lifehacksLiked}}
    <div class="row prof-lh-likes p-1 mb-1 carousel-bdr">
        <div class="col-2 my-auto">
            <a href="/lifehacks/{{this._id}}">
                <img class="thumb-img img-responsive" src="{{this.embedMultimediaLike}}" alt="{{this.title}}">
            </a>
        </div>
        <div class="col my-auto text-truncate">
            <a href="/lifehacks/{{this._id}}">
                {{this.titleLike}}
            </a>
        </div>
        <div class="col-2 my-auto align-r">
            <form action="/lifehacks/{{this._id}}" method="POST">
                <button class="likes"><span class="badge2">Remove</span></button>
            </form>
        </div>
    </div>
    {{/each}}
</div>
